{{- $galName := .Get 0 }}
{{- $gal := slice }}
{{- $colWidth := default 280 (.Get 1) }}
{{- $imgWidth := replaceRE "[^0-9]+" "" $colWidth }}
{{- $imgWidth = cast.ToInt $imgWidth }}
{{- $imgWidth = mul $imgWidth 1.5 }}
{{- $imgWidth = add $imgWidth 8 }}
{{- $imgHeight := mul $imgWidth 0.5625 }} {{/* 16:9 aspect ratio */}}

{{- with $.Page.Param ($galName) }}
    {{- range . }}
        {{- $itemImg := resources.Get (path.Join "images" .file) -}}
        {{- if $itemImg }}
            {{- $thumbImg := $itemImg.Fill (printf "%.0fx%.0f webp %s" $imgWidth $imgHeight) }}
            {{- $gal = $gal | append (dict
                "thumbLink" $thumbImg.RelPermalink
                "alt" .alt
                "link" .link
            ) }}
        {{- end }}
    {{- end }}
{{- else }}
    {{- errorf "Gallery %q not found" $galName }}
{{- end }}

{{- if gt (len $gal) 0 }}
<ul class="sc-gallery" role="list" {{- with $colWidth}}
    style="--min-col-width: {{ . }}px" {{ end -}}>
    {{- range $gal }}
    <li class="sc-gallery__item">
        <a {{- with .link }} href="{{ . }}" target="_blank" {{- end }}>
            <img src="{{ .thumbLink }}" alt="{{ .alt }}">
        </a>
    </li>
    {{- end }}
</ul>
{{- end }}