{{- .Page.Store.Set "sc-gallery" true }}
{{- $galName := .Get 0 }}
{{- $gal := slice }}
{{- $colWidth := .Get 1}}
{{- $imgWidth := default 240 (replaceRE "[^0-9]+" "" $colWidth) }}
{{- $imgWidth = cast.ToInt $imgWidth }}
{{- $imgWidth = mul $imgWidth 1.5 }}
{{- $imgWidth = add $imgWidth 8 }}

{{- with $.Page.Param ($galName) }}
    {{- range . }}
        {{- $itemImg := resources.Get (path.Join "images" .file) -}}
        {{- if $itemImg }}
            {{- $anchor := default "Smart" .anchor}}
            {{- $thumbImg := $itemImg.Fill (printf  "%.0fx%.0f webp %s" $imgWidth $imgWidth $anchor) }}
            {{- $largeImg := $itemImg.Resize "1200x webp" }}
            {{- $mediumImg := $itemImg.Resize "800x webp" }}
            {{- $smallImg := $itemImg.Resize "600x webp" }}
            {{- $legacyImg := $itemImg.Resize "800x jpg" }}
            {{- $gal = $gal | append (dict
                "thumbLink" $thumbImg.RelPermalink
                "largeLink" $largeImg.RelPermalink
                "mediumLink" $mediumImg.RelPermalink
                "smallLink" $smallImg.RelPermalink
                "legacyLink" $legacyImg.RelPermalink
                "alt" .alt
                ) }}
        {{- end }}
    {{- end }}
    {{- else }}
    {{- errorf "Gallery %q not found" $galName }}
{{- end }}

{{- if gt (len $gal) 0 }}
<ul class="sc-gallery" role="list" {{- with $colWidth}}
    style="--min-col-width: {{ . }}" {{ end -}}>
    {{- range $gal }}
    <li class="sc-gallery__item">
        <img src="{{ .thumbLink }}" alt="{{ .alt }}"
            data-largeLink="{{ .largeLink }}"
            data-mediumLink="{{ .mediumLink }}"
            data-smallLink="{{ .smallLink }}"
            data-legacyLink="{{ .legacyLink }}"
        >
    </li>
    {{- end }}
</ul>
{{- end }}

<dialog class="sc-gallery__dialog">
    <picture>
        <img src="" alt="">
    </picture>
    <button autofocus aria-label="Close" class="sc-gallery__dialog-close">&times</button>
</dialog>