{{- $imgQlty := default "q100" site.Params.imgrQuality -}}
{{- $respSizes := slice "360" "620" "800" "1280" -}}
{{- $src := resources.Get (path.Join "images" (.Get "src")) -}}
{{- $alt := .Get "alt" -}}

<picture>
    {{- with $respSizes -}}
        {{ $len := (len .) }}
        {{- range $i, $size := . | collections.Reverse -}}
            {{- if ge $src.Width . -}}
                {{ $srcLink := ($src.Resize (printf "%sx webp %s" $size $imgQlty )).RelPermalink }}
                {{- if lt $i (sub (len $respSizes) 1) }}
                    <source srcset="{{ $srcLink }}" media="(min-width: {{ $size }}px)">
                {{ else }}
                    <img src="{{ $srcLink }}" alt="{{ $alt }}" loading="lazy"
                        decoding="async">
                {{ end }}
            {{ end -}}
        {{- end -}}
    {{- end -}}
</picture>